.flow2 {
    box-sizing: border-box;

}

.header {
    margin-top: 16px;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 232, 219);
}

.container {
    
}

.container__category {
    height: 36px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Css ở đây nha! */
.container__list { 
    text-align: center;
    background-color: red;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 501px;
}